*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #E6ECF0;
    font-family: 'Helvetica neue', 'Arial', 'Helvetica', 'sans-serif';
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
input, button{
    outline: 0;
}
.content{
    max-width: 1170px;
    padding: 0 30px;
    margin:0 auto;
    height: 100%;
}
header#main-header{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .25);
    height: 46px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
header#main-header .content{
    max-width: 1170px;
    padding: 0 30px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header#main-header nav ul{
    display: flex;
    list-style: none;
}
header#main-header nav ul li{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #667580;
    font-weight: 900;
    margin-left: 30px;
}
header#main-header nav ul li:first-of-type{
    margin-left:0px;
}
header#main-header nav ul li img{
    margin-right: 7px;
}
header#main-header div.side{
    display: flex;
    align-items: center;
}
header#main-header div.side input{
    width:220px;
    border:1px solid #e6ecf0;
    height:34px;
    padding:0px 30px 0px 12px;
    font-size: 12px;
    color:#667580;
    font-weight: 600;
    border-radius: 16px;
    background: #f5f8fa url("/images/search.svg") no-repeat 190px center;
}
header#main-header div.side img{
    width: 34px;
    height:34px;
    border-radius: 50%;
    margin-left:15px;
    margin-right: 15px;
}
header#main-header div.side button{
    height: 34px;
    background-color: #3bb9e3;
    color:#fff;
    width: 90px;
    font-weight: 900;
    font-size: 14px;
    border:0px;
    border-radius:16px;
}
.banner{
    background-color: #3bb9e3;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.banner h1{
    font-weight: 400;
    font-size: 1.7em;
}
div.bar{
    height: 59px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}
div.bar .content{
    max-width: 1170px;
    padding: 0 30px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 309px;
}
div.bar .content ul{
    list-style:none;
    display: flex;
    height: 100%;
}
div.bar .content ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0pc 15px;
    position: relative;
}
div.bar .content ul li.active::after{
    content:'';
    height: 2px;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #3bb9e3;
}
div.bar .content ul li.active strong{
    color: #3bb9e3;
}
div.bar .content ul li span{
    font-size:12px;
    color: #667580;
    font-weight: bold;
}
div.bar .content ul li strong{
    font-size: 18px;
    font-weight:bold;
    color:#667580;
    margin-top:2px;
}
div.bar .content .actions {
    display: flex;
}
div.bar .content .actions button{
    height: 34px;
    color:#3bb9e3;
    background-color: #fff;
    width: 90px;
    font-weight: 900;
    font-size: 14px;
    border:0px;
    border-radius:16px;
    border:1px solid #3bb9e3;
    margin-right: 16px;
}
div.wrapper-content{
    display: flex; 
}
div.wrapper-content aside.profile{
    width:260px;
}
div.wrapper-content aside.profile img.avatar{
    width: 200px;
    height: 200px;
    border-radius:50%;
    border: 5px solid #fff;
    margin-top:-130px;
}
div.wrapper-content aside.profile h1{
    font-size: 21px;
    color:#1f2126;
    margin-top:10px;
}
div.wrapper-content aside.profile span{
    font-size: 14px;
    color: #53626c;
}
div.wrapper-content aside.profile p{
    color:#1f2126;
    font-size: 14px;
    margin-top: 15px;
}
div.wrapper-content aside.profile ul{
    margin-top:20px;
    list-style: none;
}
div.wrapper-content aside.profile ul.list li{
    font-size: 14px;
    columns: #657786;
    display: flex;
    align-items: center;
    margin-top:5px;
}
div.wrapper-content aside.profile ul.list li:first-child{
    margin:0;
}

div.wrapper-content aside.profile ul.list li img{
    margin-right:10px;
}
div.wrapper-content aside.profile .widget{
    margin-top:20px;
}
div.wrapper-content aside.profile .widget strong{
    font-weight: normal;
    color:#3bb9e3;
    font-size: 14px;
    display: flex;
    align-items: center;
}
div.wrapper-content aside.profile .widget strong img{
    margin-right: 5px;
}
div.wrapper-content aside.profile .followers ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

div.wrapper-content aside.profile .followers ul li{
    width:45px;
    height:45px;
    border-radius:50%;
    background-color: #d0d5d9;
    margin: 0px 5px 10px 0px;
    flex: 1 0 auto;
}

div.wrapper-content aside.profile .images ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

div.wrapper-content aside.profile .images ul li{
    width:80px;
    height:80px;
    border-radius:8px;  
    flex: 1 0 auto;
    background-color: #d0d5d9;
    margin: 0px 5px 5px 0px;
}
div.wrapper-content .timeline{
    flex:1;
    background: #fff;
    margin:10px 20px 0px;
}
div.wrapper-content .timeline nav{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 20px;
}
div.wrapper-content .timeline nav a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;
    color:#3bb9e3;
    margin-left: 20px;
}
div.wrapper-content .timeline nav a.active{
    color: #1f2126;
}
div.wrapper-content .timeline nav a:first-child{
    margin-left:0px;
}
div.wrapper-content .timeline ul.tweets{
    list-style: none;
}
div.wrapper-content .timeline ul.tweets li{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 20px;
    display: flex;
}
div.wrapper-content .timeline ul.tweets li > img{
    width:48px;
    height:48px;
    border-radius:50%;
}
div.wrapper-content .timeline ul.tweets li .info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
div.wrapper-content .timeline ul.tweets li .info strong{
    font-size: 14px;
    color:#1f2126;
}
div.wrapper-content .timeline ul.tweets li .info strong span{
    font-size: 13px;
    font-weight: normal;
    color:#7b8b9a;
}
div.wrapper-content .timeline ul.tweets li .info p{
    font-size: 14px;
    color: #1f2126;
}
div.wrapper-content .timeline ul.tweets li .actions{
    display: flex;
    margin-top: 20px;
}
div.wrapper-content .timeline ul.tweets li .actions a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color:#667580;
    margin-left:30px;
}
div.wrapper-content .timeline ul.tweets li .actions a:first-child{
    margin-left: 0px;
}
div.wrapper-content .timeline ul.tweets li .actions a img{
    margin-right: 5px;
}
div.wrapper-content aside.widgets{
    width: 290px;
    overflow: hidden;
    margin-top:10px;
}

div.wrapper-content aside.widgets .widget{
    padding: 15px;
    background-color: #fff;
}
div.wrapper-content aside.widgets .widget .title{
    display: flex;
    align-items: baseline;
}
div.wrapper-content aside.widgets .widget .title strong{
    font-size: 18px;
    color:#1f2126;
}
div.wrapper-content aside.widgets .widget .title a{
    font-size: 12px;
    color:#3bb9e3;
    text-decoration: none;
    position: relative;
    padding-left: 10px;
}
div.wrapper-content aside.widgets .widget .title a::before{
    content:"";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #222;
    margin-left:5px;
    margin-right: 5px;
    position: absolute;
    left:0px;
    top:7px;
}
div.wrapper-content aside.widgets .follow ul{
    list-style: none;
    margin-top: 10px;
}
div.wrapper-content aside.widgets .follow ul li{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ccd6dd;
    padding-bottom:10px;
    margin-bottom: 10px;
}
div.wrapper-content aside.widgets .follow ul li:last-child{
    border-bottom:0px solid #ccd6dd;
    padding-bottom:0px;
    margin-bottom: 0px;
}
div.wrapper-content aside.widgets .follow ul li .profile{
    display: flex;
    align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img{
    width:48px;
    border-radius:50%;
    height:48px;
}
div.wrapper-content aside.widgets .follow ul li .profile .info{
    margin-left:10px;
    display: flex;
    flex-direction: column;
}
div.wrapper-content aside.widgets .follow ul li .profile .info strong{
    font-size: 14px;
    color:#1f2126;
}
div.wrapper-content aside.widgets .follow ul li .profile .info strong span{
    font-weight: normal;
    font-size:14px;
    columns: #9a9a9a;
}
div.wrapper-content aside.widgets .follow ul li .profile .info button{
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:4px;
    background-color: #fff;
    border: 1px solid #3bb9e3;
    color: #3bb9e3;
    width: 90px;
    font-weight: 900;
    font-size: 14px;
    border-radius:16px;
}
div.wrapper-content aside.widgets .follow ul li > a{
    color:#ccd6dd;
    text-decoration: none;
    font-size:16px;
}

